!Makefile

**/*.cbp
**/Makefile
**/*.cmake
**/CMakeCache.txt
**/cmake-build-debug
**/CMakeFiles
**/Testing

.idea

**/report/*
!**/report/main.bib
!**/report/main.tex
!**/report/main.pdf
!**/report/images

compare/compare

matFact-*