!**/omp
**/omp/matFact-omp
**/omp/test/unitTests
**/mpi
**/*.cbp
**/Makefile
**/*.cmake
**/CMakeCache.txt
**/cmake-build-debug
**/CMakeFiles
**/Testing
!**/serial
**/serial/matFact
**/serial/test/unitTests
.idea