!delivery/g24omp/omp
delivery/g24omp/omp/matFact-omp
delivery/g24omp/omp/test/unitTests
**/mpi
**/*.cbp
**/Makefile
**/*.cmake
**/CMakeCache.txt
**/cmake-build-debug
**/CMakeFiles
**/Testing
!delivery/g24omp/serial
delivery/g24omp/serial/matFact
delivery/g24omp/serial/test/unitTests
.idea
omp/report/*
!omp/report/main.bib
!omp/report/main.tex
!omp/report/main.pdf
!omp/report/images
helpers/compare